<!--Wenn das Padlet öffentlich ist, zeige padlets, wenn user eingeloggt ist, dann zeige private padlets -->
<div *ngIf="padlet?.is_public || authService.isLoggedIn()" class ="ui card middle aligned">
<div class="content">
  <img src="{{padlet?.image}}" class="ui  image" style="height: 150px; width: 290px;"><br><br>
  <div class="header">{{ padlet?.name }}</div><br>
  <!--Wenn Padlet öffentlich, dann zeig folgendes -->
  <div *ngIf="padlet?.is_public == true" class="extra">
    <i  class="globe icon"></i><p>Öffentliches Padlet</p>
    </div>
  <!-- Wenn Padlet privat, dann zeig folgendes -->
    <div *ngIf="padlet?.is_public == false" class="extra">
    <i  class="user icon"></i><p>Privates Padlet</p>
  </div>

</div>
  <div class="content">
  <div class="meta">
    <img class="ui avatar image" src="{{padlet?.user?.image}}">
    <span class="content">{{ padlet?.user?.firstName}} {{ padlet?.user?.lastName}}</span></div>
  </div>
</div>


