
<div *ngIf="padlet?.is_public || authService.isLoggedIn()" class ="ui card middle aligned">
<div class="content">
  <img src="{{padlet?.image}}" class="ui  image" style="height: 150px; width: 290px;"><br><br>
  <div class="header">{{ padlet?.name }}</div>
  <div class="extra">Padlet_id: {{ padlet?.id }}
    <i *ngIf="padlet?.is_public == true" class="globe icon"></i>
  </div>

</div>
  <div class="content">
  <div class="meta">
    <img class="ui avatar image" src="{{padlet?.user?.image}}">
    <span class="content">{{ padlet?.user?.firstName}} {{ padlet?.user?.lastName}}</span></div>
  </div>
</div>


