<div class="ui breadcrumb">
  <div class="section"><a [routerLink]="'/padlets'" style="color:black">Übersicht</a></div>
  <div class="divider"> / </div>
  <div class="active section">Padlet</div>
</div>

<br><br>
<div class="header"><h1>{{ padlet?.name }}</h1></div><br><br>

<div class="ui cards" >
<div *ngFor="let entrie of entries" class="item">
  <div class="ui card" style="margin-right:20px;">
    <div class="content">
  <div class="header">{{entrie?.title }}:</div><br>
    <div class="description>"> {{entrie?.content }}</div></div><br>

     <div class="content">
      <button class="ui right floated icon button">
        <i class="edit icon"></i>
      </button>
      <button class="ui right floatedmicon button">
        Löschen
      </button>
    </div>
  <!--<div class="header">{{entrie | json}}</div>-->
</div>
  </div>


  <br>
</div>

<!--
<div *ngFor="let rating of entries?.ratings" class="item">
  <div class="header">{{rating?.rating }}</div>
</div>


<div *ngFor="let comment of entrie?.comments" class="item">
  <div class="header">{{comment?.comment }}</div>
</div>-->


