<div class="header"><h1>{{ padlet?.name }}</h1></div>

<p>Hier folgen alle Einträge, die in dieses Padlet gehören. Zu jedem Eintrag können Kommentare und Ratings angelegt werden</p>


<div *ngFor="let entrie of entries" class="item">
  <hr>
  <div class="header">{{entrie?.title }}</div>
  <div class="header">{{entrie?.content }}</div>
  <div class="header">{{entrie | json}}</div>


  <hr>
</div>

<!--
<div *ngFor="let rating of entries?.ratings" class="item">
  <div class="header">{{rating?.rating }}</div>
</div>


<div *ngFor="let comment of entrie?.comments" class="item">
  <div class="header">{{comment?.comment }}</div>
</div>-->

<button [routerLink]="'/padlets'" class="ui button">Zurück zur
  Übersicht</button>

